@using BlueChip.Models;
@model List<ProductLineModel>

@{
    ViewBag.Title = "Home Page";
}
<div class="productLines">
    @{
        for (int i = 0; i < Model.Count; i++)
        {
            var pictureUrl = "../Content/Images/" + Model[i].pictureURL;
            <div>
                <div class="thumbnail mainImages">
                    <h3 class="text-center">@Model[i].Named</h3>
                    <div id="card" onclick="flipCard()">
                        <div class="front">
                            <img src="@pictureUrl" class="img-responsive" onclick="find(@Model[i].Id)" alt="Alternate Text" />
                        </div>
                        @*<div class="back">
                            <p>@Model[i].LongDescription</p>
                        </div>*@
                    </div>
                </div>
            </div>
        }
    }
</div>
<div id="products"></div>
<br />
<button class="btn" id="showProductLines" onclick="showProductLines()">Back</button>
<hr />

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script src="~/Js/JavaScript.js"></script>
<script src="~/Scripts/jquery.flip.min.js"></script>